header{
    height:100px;
    position:relative;
}

header #logo{
    position:absolute;
    top:10px;
    left:20px;
}

header #top_menu{
    position:absolute;
    top:10px;
    left:770px;
}

header #main_menu{
    width:780px;
    height:40px;
    background-image:url("../img/main_menu_bg.png");
    background-repeat:no-repeat;
    position:absolute;
    top:40px;
    left:210px;
}

header #main_menu li{
    display:inline-block;
    margin:10px 31px 0 51px;
    font-size:13px;

}

header #main_menu a:link{
    text-decoration:none;
    color:#ffffff;
}